<div class="centered">
  <form class="form" [formGroup]="form" (ngSubmit)="onSignIn()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" formControlName="email"
        [errorStateMatcher]="matcher" autocomplete="off">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Password" formControlName="password" autocomplete="off" type="password">
    </mat-form-field>

    <button mat-stroked-button>Login</button>
  </form>
</div>
